<!-- <h1><%= @contact_list %></h1> -->

<% @contact_list.each do |contact| %>
  <!-- <h4> <%= contact.first_name %>
  <%= contact.last_name %> <%= contact.job_title %> <%= contact.company %> <%= contact.contact_type %> </h4> -->
<% end %>


<a href='/'>Return to home page </a>
